$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// @import "test.scss";

html {
    width: 100%;
    height: 100%;

    body {
        font-family: 'Raleway';
        width: 100%;
        height: 100%;
        color: #555555;
        background-color: #555555;

        .navbar-default {
            margin: 0;
            height: 7%;

            .center {
                position: absolute;
                width: 100%;
                height: 100%;
                text-align: center;

                span {
                    margin-top: 15px;
                    font-size: 35px;
                }

                span:hover {
                    cursor: pointer;
                }
            }

            border-radius: 0px;
            background-color: #ffffff;

            h1 {
                font-weight: 800;
            }

            p {
                    position: absolute;
                    bottom: 0;
                    font-size: 24px;
            }

                // .nav li {
                //     position: absolute;
                //     width: auto;
                //     right: 0;
                //     bottom: 0;
                //     margin-right: 15px;
                // }
        }

        .container {
            width: 100%;
            height: 93%;
            padding: 0;

            .row {
                width: 100%;
                height: 33%;
                padding: 0;
                margin: 0;

                .containers {
                    height: 100%;

                    .tuiles-container {
                        height: 100%;
                        
                        .tuile{
                            padding: 0;
                            background-color: rgb(255, 255, 255);
                            height: 100%;
                            width: 16.6666666%;
                            float: left;
                            border: solid 1px rgba(0, 0, 0, 0.1);
                        }

                        .frodo {
                            background: url('http://img2.wikia.nocookie.net/__cb20130421143340/lotr/de/images/3/34/Frodo.jpg') center;
                            background-size: cover;
                        }

                        .gandalf {
                            background: url('http://a69.g.akamai.net/n/69/10688/v1/img5.allocine.fr/acmedia/medias/nmedia/18/99/69/59/20619342.jpg');
                            background-size: cover;
                        }

                        .gimli {
                            background: url('http://img2.wikia.nocookie.net/__cb20080318220808/lotr/images/4/43/Gimli.jpg');
                            background-size: cover;
                        }
                    }

                }
                
            }
        }
    }
}
